.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.checkbutton {
 padding:10px;
 margin:10px;
}

.button2{
  padding:10px;
  margin:30px;
  align-content: flex-start;
}

.array1{
  color:red;
  font-size:30px;
  
  font-display: inline;
  align-content: flex-start;
}

.form{
  color:black;
  width:300px;
  font-size: 12px;
  overflow-wrap: normal;
  margin-bottom: 20px;
}

Select{
  margin-bottom:500px;
}

button {
  width:100px;
  height:30px;
  font-size:13px;
}

input {
  width:60px;
  height:30px;
  font-size:16px;
}